.card {
   display: flex;
   flex-direction: column;
   width: 250px;
   height: 400px;
   background-color: cadetblue;
   margin: 20px;
   align-items: center;
   justify-content: center ;

   div {
      width: 100px;
   }
}